<div class="sidebar">
  <!-- <div class="container sidebar-sticky"> This line fixes the sidebar, with the disadvantage of it not fitting some screen proportions -->
  <div class="container"> <!-- This line allows the sidebar to scroll freely with the website -->
    <div class="sidebar-about">
        <!-- Add a profile picture in the sidebar -->
        <!-- <img src="/photos/PELLO (53).jpg" alt="Pello" class="inline"/>  --> <!---  Vertical pic, original  --->
        <img src="/photos/PELLO (53) black_white.jpg" alt="Pello" class="inline"/>  <!---  Vertical pic, black and white  --->
        <!-- <img src="/photos/PELLO (82).jpg" alt="Pello" class="inline"/> --> <!---  horizontal pic, close face  --->
        <!-- <a href="{{ site.baseurl }}"> -->
        <!-- <a href="{{ '/' | relative_url }}"> -->
       <!-- Add page title -->
       <h3>
        <p style="color :white; font-size: 2.2rem; margin-bottom: -4px;"> Pello Aspuru <!--{{ site.title }} -->
      </h3>
      <!-- Add page subtitle title -->
      <p style="font-size: 1.25rem" class="lead"> PhD candidate, CEMFI <!--{{ site.description }} -->
      </p>
    
    <body>
      
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
      <!-- Manual set order -->
      
      <!-- Links to CV, Google Scholar 
      <a class="sidebar-nav-item" href="https://mreguant.github.io/papers/reguant_cv_extended.pdfblablabla">CV</a>
      <!-- <a class="sidebar-nav-item" href="https://scholargoogle.com/citations?user=glc6COYAAAAJ&hl=enblablabla">Google Scholar</i></a> -->
     
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/categories' | relative_url }}">Categories</a> -->
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/publication' | relative_url }}">Publication</a> -->
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/projects' | relative_url }}">Projects</a> -->
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/about' | relative_url }}">About</a> -->

      <!-- Uncomment for auto order -->
      <!-- {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %} -->

      
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
      
      <!-- Social buttons: twitter, github, linkedin... -->
      <!---  target="_blank": The links pop um in new tabs  --->
      <!---  style="float: left; margin-right: 30px;": Allows for space between icons  --->
      <a href="/documents/CV.pdf" target="_blank"><img src="/icons/file-solid.svg" style="display: inline-block; margin-right: 10px;" width="18" height="18" class="filter-gray-light"></a>
      <!---  In the case of the email button, we do not want it to pop up a new tab  --->
      <a href="mailto:pello.aspuru@cemfi.edu.es"><img src="/icons/envelope-solid.svg" style="display: inline-block; margin-right: 10px;" width="20" height="20" class="filter-gray-light"></a>
      <a href="https://github.com/pelloaspuru" target="_blank"><img src="/icons/github.svg" style= "display: inline-block; margin-right: 10px;" width="20" height="20" class="filter-gray-light"></a>
      <a href="https://twitter.com/pelloaspuru" target="_blank"><img src="/icons/twitter.svg" style="display: inline-block; margin-right: 10px;" width="20" height="20" class="filter-gray-light"></a>
      <a href="https://www.linkedin.com/in/pelloaspuru" target="_blank"><img src="/icons/linkedin.svg" style = "display: inline-block; margin-right: 0px;" width="20" height="20" class="filter-gray-light"></a>

      <!-- Social buttons: twitter, github, linkedin... -->
      <!-- {% include social_links.html %} -->

     </body>
    <!---  Blank line  --->
    <br/>
    </div>
    <!-- Copyright sign -->
    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>
